{% extends 'base.html' %}

{% block title %} Coder's Boost {% endblock %}

{% block body %}
<style>
  .homepage-title {
    height: 400px;
    font-family:'Titillium Web', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: 900;
  }

  .sm-intro {
    font-family:'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: small;
    color: white;
  }

  .lg-encouragement {
    text-transform: none;
    font-size: large;
    font-weight: 400;
    font-family:'Titillium Web', sans-serif;
    color: white;
  }

  .carousel {
    width: 60%;
    height: 60%;
    margin: 5%;
    padding: 5%;
  }

  #encouragement-text {
    font-family:'Titillium Web', sans-serif;
    font-weight: 900;
    color: white;
  }

  #about-text {
    font-size: 1.5em;
    font-family:'Titillium Web', sans-serif;
    line-height: 1.5;
  }

  #carousel-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  #bottom-gray-text {
    font-size: 1.5em;
    font-family:'Titillium Web', sans-serif;
    line-height: 1.5;
  }

  #bottom-text-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
</style>
<div class="col-md position-relative text-white">
  <img src="{{ url_for('static', filename='images/MomCoding.png') }}" style="width: 100vw; height: 100%; z-index: -1; opacity: 0.8;">
  <div class="position-absolute top-0 end-0 text-end text-wrap p-4">
    <h1 style="font-weight: bold;">Coder’s Boost</h1>
    <p style="font-size: 1.2em;">{{ _('Intro') }}</p>
    <h1 id="encouragement-text"></h1>
    <div class="row">
      <div class="col">
        <br>
        <!--Get encouragement button starts here -->
        <button type="submit" onclick="getNextEncouragement()" class="btn btn-info btn-lg text-white" style="background-color:  #8928EB; border: 1px solid black;">{{ _('Get your daily boost') }}
        </button>
      </div>
    </div>
    <div class="row" id="share-buttons" style="visibility: hidden;">
      <div class="col">
        {% if current_user.is_authenticated %}
        <!-- Favorite button starts here -->
        <button type="button" class="btn btn-primary-outline text-start" id="favoriteEncouragement"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Click to save to your page" ,
          data-value="" onclick="favoriteEncouragement()">
          <i class="fa fa-heart fa-l" style="color: crimson;"></i>
        </button>
        <!-- Favorite button ends here -->
        {% endif %}

        <!-- Facebook (url) -->
        <a href="#" onClick="shareOnFacebook()"><button class="btn btn-primary-outline" id="facebook"><i class="fa-brands fa-facebook-f fa-l" style="color: white"></i>
        </a>
        </button>

        <!-- Email (subject, body) -->
        <a href="mailto:?subject=Coders%20Boost&body="><button class="btn btn-primary-outline" id="email" role="button"><i class="fa-regular fa-envelope fa-l" style="color:white"></i></a></button>

        <!-- The button used to copy the text -->
        <button class="btn btn-primary-outline" id="copyButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy link"
          data-value=""
          onclick="copyText()">
          <i class="fa-solid fa-link fa-l" style="color:white"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<!--DALLE Image Carousel Starts Here-->
<div class="container" id="carousel-container">
  <div class="row m-3">
    <div class="col-md">
      <div class="d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/MomCoding.png') }}" class="d-block w-100" alt="Mom coding with her two sons.">
            </div>
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='images/SunsetCoders.png') }}" class="d-block w-100" alt="Two women of color pair programming.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/WomanWheelchairCoding.png') }}" class="d-block w-100"
                alt="A woman in a wheelchair coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/TeenagerProgramming.png') }}" class="d-block w-100"
                alt="A teenage boy of color coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/GirlCoding.png') }}" class="d-block w-100" alt="A young girl of Asian descent coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/PairProgramming.png') }}" class="d-block w-100" alt="Two young students coding in the same room.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/VividPairProgramming.png') }}" class="d-block w-100"
                alt="Two young men pair programming at the same computer.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/cyberpunk.png') }}" class="d-block w-100" alt="Two young women of color coding together in front of a sunset.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/BoyCoding.png') }}" class="d-block w-100" alt="A young Hispanic boy coding with his Grandmother.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/BlindCoder.png') }}" class="d-block w-100" alt="A young vision impaired boy coding with his seeing eye dog.">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DALLE Image Carousel ends here-->
<div class="container text-white" style="max-width: none; margin-left: 0; margin-right: 0; background: linear-gradient(to right, #8a28ebcd, #a157ebe1); transition: background 1s;">
  <div class="row py-3" id="about-text">
    <div class="col-md-2"></div>
    <div class="col-md">
      <h2 style="font-weight: bold;">{{ _('You belong here!') }}</h2>
      <br />
      <p>{{ _('Learning to code') }}
      </p>
      <p>
        {{ _('Computer Science students') }}
      </p>
      <br />
    </div>
    <div class="col-md-2"></div>
    </div>
    </div>
    <div class="container col-md" id="bottom-text-container;" style="max-width: none; margin-left: 0; margin-right: 0;">
      <div class="row py-3" id="bottom-gray-text">
        <div class="col-md-2"></div>
        <div class="col-md">
        
      <h2 style="color: #746f6f; font-weight: bold;">{{ _('Why Coders Boost?') }}</h2>
      <br />
      <p style="color: #746f6f;">{{ _('Coders Boost is designed') }}
      </p>
      <br/>
      <h2 style="color: #746f6f;">{{ _('What next?') }}</h2>
      <br />
      <p style="color: #746f6f;">
        {{ _('What next text') }}
      </p>
      <br />
  </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="row justify-content-center text-center bg-lt">
  <div class="col">@2023<a href="https://github.com/JLOtten/coders_boost">JLOtten</a>| Flask/Jinja App, HTML, CSS & Bootstrap, JS, Python, PostgreSQL | Illustrations by <a
      href="https://icons8.com/illustrations">Icons8</a> and <a href="https://openai.com/dall-e-2/">DALL·E 2</a></div>
</div>
{% endblock %}