{% extends 'base.html' %}

{% block title %} Coder's Boost {% endblock %}

{% block body %}
<style>
  .homepage-title {
    height: 100px;
  }

  .sm-intro {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: smaller;
  }

  .lg-encouragement {
    text-transform: none;
    font-size: large;
    font-weight: none;
  }

  .carousel {
    width: 60%;
    height: 60%;
    margin: 5%;
    padding: 5%;
  }

  #encouragement-text {
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
  }

  #about-text {
    font-size: 1.5em;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
  }

  #carousel-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  #bottom-gray-text {
    font-size: 1.5em;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
  }

  #bottom-text-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
</style>
<div class="container" id="top-homepage">
  <div class="row align-items-center">
    <div class="col-md">
      <div class="row">
        <div class="col">
          <h1 style='font-family: Inter, "Helvetica Neue", Arial, sans-serif; font-variant-caps: small-caps;'>👏 Coder’s
            Boost 👏</h1>
        </div>

      </div>
      <div class="row">
        <p style="font-size: 1.2em;">{{ _('Intro') }}</p>
      </div>
      <div class="row">
        {% if encouragement %}
        <h1 id="encouragement-text">{{encouragement.text}}</h1>
        {% endif %}
      </div>
      <div class="row">
        <div class="col">
          <br>
          <!--Get encouragement button starts here -->
          <form action="/" method="get">
            <input type="hidden" id="nextEncouragement" name="nextEncouragement" value="true" />
            <button type="submit" class="btn btn-info btn-lg" style="background-color: rgba(13, 202, 240, 0.25);">{{ _('Get your daily boost') }}
            </button>
          </form>
        </div>
      </div>
      {% if encouragement %}
      <div class="row">
        <div class="col">
          {% if current_user.is_authenticated and encouragement %}
          <!-- Favorite button starts here -->
          <button type="button" class="btn btn-primary-outline text-start" id="favoriteEncouragement"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Click to save to your page" ,
            data-value="{{ encouragement.id }}" onclick="favoriteEncouragement()">
            <i class="fa fa-heart fa-l" style="color: crimson;"></i>
          </button>
          <!-- Favorite button ends here -->
          {% endif %}
          <!-- Facebook (url) -->
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('homepage', encouragement_id=encouragement.id, _external=True) | urlencode }}"><button class="btn btn-primary-outline"><i class="fa-brands fa-facebook-f fa-l" style="color: dimgray"></i>
          </a>
          </button>

          <!-- Email (subject, body) -->
          <a href="mailto:?subject=Coders%20Boost&body={{ encouragement.text | urlencode }}"><button class="btn btn-primary-outline" role="button"><i class="fa-regular fa-envelope fa-l" style="color:dimgray"></i></a></button>

          <!-- The button used to copy the text -->
          <button class="btn btn-primary-outline" id="copyButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy link"
            data-value="{{ url_for('homepage', encouragement_id=encouragement.id, _external=True) }}"
            onclick="copyText()">
            <i class="fa-solid fa-link fa-l" style="color:dimgray"></i>
          </button>
        </div>
      </div>
      {% endif %}

    </div>
    <div class="col-md">
      <div class="row"><img src="{{ url_for('static', filename='images/coder-illustration.png') }}"></div>
    </div>
  </div>
</div>
<!--DALLE Image Carousel Starts Here-->
<div class="container  bg-info full-screen" id="carousel-container" style="--bs-bg-opacity: .25;">
  <div class="row m-3">
    <div class="col-md">
      <div class="d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='images/MomCoding.png') }}" class="d-block w-100" alt="Mom coding with her two sons.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/SunsetCoders.png') }}" class="d-block w-100" alt="Two women of color pair programming.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/WomanWheelchairCoding.png') }}" class="d-block w-100"
                alt="A woman in a wheelchair coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/TeenagerProgramming.png') }}" class="d-block w-100"
                alt="A teenage boy of color coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/GirlCoding.png') }}" class="d-block w-100" alt="A young girl of Asian descent coding.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/PairProgramming.png') }}" class="d-block w-100" alt="Two young students coding in the same room.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/VividPairProgramming.png') }}" class="d-block w-100"
                alt="Two young men pair programming at the same computer.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/cyberpunk.png') }}" class="d-block w-100" alt="Two young women of color coding together in front of a sunset.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/BoyCoding.png') }}" class="d-block w-100" alt="A young Hispanic boy coding with his Grandmother.">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='images/BlindCoder.png') }}" class="d-block w-100" alt="A young vision impaired boy coding with his seeing eye dog.">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DALLE Image Carousel ends here-->
<div class="container" style="max-width: none; margin-left: 0; margin-right: 0;">
  <div class="row py-3" id="about-text">
    <div class="col-md-2"></div>
    <div class="col-md">
      <h2>{{ _('You belong here!') }}</h2>
      <br />
      <p>{{ _('Learning to code') }}
      </p>
      <p>
        {{ _('Computer Science students') }}
      </p>
      <br />
    </div>
    <div class="col-md-2"></div>
    </div>
    </div>
    <div class="container bg-info" id="bottom-text-container" style="--bs-bg-opacity: .25;">
      <div class="row py-3" id="bottom-gray-text">
        <div class="col-md-2"></div>
        <div class="col-md">
        
      <h2>{{ _('Why Coders Boost?') }}</h2>
      <br />
      <p>{{ _('Coders Boost is designed') }}
      </p>
      <br/>
      <h2>{{ _('What next?') }}</h2>
      <br />
      <p>
        {{ _('What next text') }}
      </p>
      <br />
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="row justify-content-center text-center">
  <div class="col">Code by <a href="https://github.com/JLOtten/coders_boost">JLOtten</a> | Illustrations by <a
      href="https://icons8.com/illustrations">Icons8</a> and <a href="https://openai.com/dall-e-2/">DALL·E 2</a></div>
</div>
{% endblock %}