{% extends 'base.html' %}

{% block title %} Coder's Boost {% endblock %}

{% block body %}

{% if current_user.is_authenticated %}
<h1>{{ _('Welcome back {{current_user.username') }}!😄</h1>
{% endif %}
<ul>
  {% for user_encouragement in user_encouragements %}
  <div id="encouragement-{{ user_encouragement.encouragement_id }}">
  <li>
      {{ user_encouragement.encouragement.text }}
  <!--add a delete button that connects to delete view function in app.py-->
  <button id="{{ user_encouragement.encouragement_id }}" onClick="deleteFavoriteEncouragement(this.id)">{{ _('Delete') }}</button>
  </li>
</div>
  {% endfor %}
</ul>

{% endblock %}