{% extends 'base.html' %}

{% block title %} Coder's Boost {% endblock %}

{% block body %}
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Resources:</h1>
  
<h2>Websites</h2> 

<div style="text-align:center;">
  <a href="https://tellmesomethingnice.com/">Tell me something nice</a>
</div>

<div style="text-align:center;">
  <a href="https://www.mothercoders.org/">Mother Coders</a>
</div>

<div style="text-align:center;">
  <a href="https://skillcrush.com/">Skillcrush Coding School</a>
</div>

<div style="text-align:center;">
  <a href=" https://girlswhocode.com/">Girls Who Code</a>
</div>

<div style="text-align:center;">
  <a href="https://www.hiddengeniusproject.org/?gclid=Cj0KCQjwqoibBhDUARIsAH2OpWjAr3EUlNeAm1YKj4ZnpqdhM1ibcElsnYPMG700mKha0vOkhXXJXkYaAp-0EALw_wcB">The Hidden Genius Project</a>
</div>

<div style="text-align:center;">
  <a href=" https://girlswhocode.com/">Girls Who Code</a>
</div>
 

</div>

<h3>Articles</h3>
<div style="text-align:center;">
  <a href="https://www.redhat.com/sysadmin/women-ops">Women in Ops</a>
</div>

<div style="text-align:center;">
  <a href="https://medium.com/the-mission/apps-that-fight-online-abuse-tech-and-the-positivity-movement-7a8dce4dfbce">Apps That Fight Online Abuse: Tech and the Positivity Movement</a>
</div>

<div style="text-align:center;">
  <a href="https://eponis.tumblr.com/post/113798088670/everything-is-awful-and-im-not-okay-questions-to">Questions to Ask Before Giving Up</a>
</div>

{% endblock %}